*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection{
    background-color: #ff6600a9;
    color: white;
}
html,body{
  height: 100%;
  width: 100%;
  font-family: montserrat;
}
#main{
  height: 100%;
  width: 100%;
}


a{
    text-decoration: none;
    color: black;
}

.text-blue{
    color: rgba(65, 105, 225, 0.9);
}

#bg-strips-img{
    position: fixed;
    width: 35vw;
    overflow: hidden;
    rotate: -36deg;
    left: -13%;
    top: -10%;
    z-index: -1;
    opacity: .7;
}

#bg-strips-img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page1{
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}


#nav{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 2vw 3.5vw;
}

#navL{
    overflow: hidden;
    text-align: center;
}
#navL>img{
    width: 3.5vw;
    object-fit: cover;
}
#navL>h1{
    font-size: 1.5vw;
    font-weight: 800;
    text-transform: uppercase;
}

#navR{
    display: flex;
    gap: 5vw;
    text-transform: uppercase;
}
#navR>h2{
    font-size: 1vw;
    font-weight: 500;
    position: relative;
    height: fit-content;
    cursor: pointer;
}

#navR>h2::after{
    content: "";
    background-color: black;
    height: 2px;
    position: absolute;
    bottom: 0;
    width: 0%;
    transform-origin: left;
    transition: all ease .5s;
}
#navR>h2:hover ::after{
    transform-origin: right;
    width: 100%;
}

#mainQuote{
    text-align: center;
    position: relative;
    top: -30px;
}

#mainQuote>p{
    font-size: 1.5vw;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .8vw;
}

#searchBar{
    position: relative;
    margin: 1.5vw 0  2vw 0;
}
#searchBar>input{
    width: 40%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 1vw 2vw .5vw .1vw ;
    border: none;
    font-size: 1.3vw;
    letter-spacing: .1vw;
    border-bottom: 1px solid black;
}


#searchBar>input:focus-visible{
    outline: -webkit-focus-ring-color auto 0px;
}

#searchBar>i{
    position: absolute;
    left: 69%;
    font-size: 1.5vw;
    top: 13px;
    transform: translateX(-50%);
}

#hero {
    display: flex;
    align-items: end;
}

#page1Left{
    width: 11vw;
    margin-left: .3vw;
    overflow: hidden;
    height: 32.5vw;
}

#page1Left>img{
    width: 100%;
    object-fit: cover;
    opacity: 1;
    scale: .95;
    transition: all ease .5s;
    border: .4vw solid rgba(0, 0, 0, 0.8);
    cursor: pointer;
    border-radius: 5px;
}
#page1Left>img:hover{
    scale: 1;
}


#page1Right{
    position: absolute;
    right: 3%;
    top: 8vw;
    display: flex;
    flex-direction: column;
    gap: 5vw;
}

.rightSideBox{
    text-align: center;
    transition: all ease .5s;
    opacity: .95;
    cursor: pointer;
}
.rightSideBox:hover{
    opacity: 1;
    scale: 1.1;
}
.rightSideBox:hover >h1{
    color: royalblue ;
}
.rightSideBox>img{
    width: 9vw;
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(10px 5px 4px rgba(0, 0, 0, 0.507));
}

.rightSideBox>h1{
    font-size: 1.5vw;
    color: rgba(65, 105, 225, 0.9);
    text-transform: uppercase;
    font-weight: 800;
}


#page1Center{
    height: 29vw;
    width: 50vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


#page1CT{
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.page1CElem{
    width: calc(50vw / 3.1);
    padding: 1vw;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.133);
}

.elemHead{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.elemHead>img{
    height: 2.8vw;
    border-radius: 2px;
}

.elemHead>h1{
    font-size: 2vw;
    font-weight: 700;
    text-transform: uppercase;
}

.page1CElem>p{
    font-size: 1.2vw;
    font-weight: 500;
    margin-top: 1.5vw;
}

#page1CB{
    margin-top: .5vw;
}
#page1CB>img{
    height: 11.75vw;
}